{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "header" }}
{{ partial "header" (dict "context" . "pagename" "projects") }}
{{ end }}
{{ define "main" }}
<main class="projectlist">
    <section class="page-title page-centered"> 
      <h1>{{ .Title }}</h1>
      <p class="intro">These are some of my projects</p> 
    </section> 
    <section class="projects page-centered">
      {{ range .Pages }}
      <a class="project-card" href="{{ .Params.externallink }}">
        <div class="front {{ if isset .Params "description" }}reversible{{ end }}"
        {{ if isset .Params "img" }}style="background-image: url({{ .Permalink }}/{{ .Params.img }});"{{ end }}>
          <h5>{{ .Title }}</h5>
        </div>
        {{ if isset .Params "description" }}
        <div class="back">
          {{ .Params.description }}
        </div>
        {{ end }}
      </a>
      {{ end }}
    </section>
</main>
{{ end }}
