{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "header" }}
{{ partial "header" (dict "context" . "pagename" "projects") }}
{{ end }}
{{ define "main" }}
<main class="projectlist page-centered">
    <section class="page-title"> 
      <h1>{{ .Title }}</h1>
      <p class="subtitle">These are some of my projects</p> 
    </section> 
    <section class="projects">
      {{ range .Pages.GroupByDate "2006" }}
      <div class="projects-group">
        <h3 class="projects-group__title">{{ .Key }}</h3>
        <div class="projects-group__flex">
          {{ range .Pages }}

          {{ $status := "FINISHED" }}
          {{ if isset .Params "status" }}
          {{ $status = upper .Params.status }}
          {{ else }}
          {{ end }}
          
          {{ $class := "" }}
          {{ if eq $status "FINISHED" }}
          {{ $class = "project-card--finished" }}
          {{ else if eq $status "WIP" }}
          {{ $class = "project-card--wip" }}
          {{ else if eq $status "ABANDONED" }}
          {{ $class = "project-card--abandoned" }}
          {{ end }}

          <a class="project-card {{ $class }}" href="{{ .Params.externallink }}">
            <div class="front {{ if isset .Params "description" }}reversible{{ end }}">
              {{ if isset .Params "img" }}<div class="bg" style="background-image: url({{ .Permalink }}/{{ .Params.img }});"></div>{{ end }}
              <div class="overlay{{ if isset .Params "img" }} withbg{{ end }}">

              <h5>{{ upper .Title }}</h5>
              <div class="status status--{{ lower $status }}">{{ $status }}</div>
            </div>
            </div>
            {{ if isset .Params "description" }}

            <div class="back">
              <p class="description">


              {{ .Params.description }}
              </p>
              {{ if isset .Params "languages" }}
              <div class="languages">
              {{ range .Params.languages }}
                <b>{{ . }}</b>
              {{ end }}
              </div>
              {{ end }}
            </div>
            {{ end }}
          </a>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </section>
</main>
{{ end }}
