{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "header" }}
{{ partial "header" (dict "context" . "pagename" "projects") }}
{{ end }}
{{ define "main" }}
<main class="projectlist">
    <section class="page-title page-centered"> 
      <h1>{{ .Title }}</h1>
      <p class="intro">ttis my project stuff aka im stupid hello hi its me. elko is dumb uwu. is my project stuff aka im stupid hello hi its me. elko is dumb.</p> 
    </section> 
    <section class="projects page-centered">
      {{ range .Pages }}
      <a class="project-card" href="{{ .Permalink }}">
        {{ if isset .Params "desc" }}
        <div class="front reversible">
        {{ else }}
        <div class="front">
        {{ end }}
            {{ .Title }}
        </div>
        {{ if isset .Params "desc" }}
        <div class="back">
          {{ .Params.desc }}
        </div>
        {{ end }}
      </a>
      {{ end }}
    </section>
</main>
{{ end }}
