button {
    display: inline-block;
    text-align: center;
    text-decoration: none;

    // Prevents moving other elements
    border: 0.1em solid transparent;
    background: transparent;
    padding: 0;
    &:hover,
    &:focus,
    &:active {
        outline: 0;
        //background: var(--bg-hl);
    }
}


