.contact-me {
  > .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > form {
      @include shadow-weak();

      background: var(--bg-1);
      padding: 2em;

      > *  {
        width: 100%;
        margin-bottom: 1em;
      }
      
      > textarea {
        resize: none
      }

      > input, > textarea {
        font-family: inter,sans-serif;
        font-size: 1rem;
        background-color: var(--bg-hl);
        color: var(--ui-1);
        border: 0;
        padding: 0.5em;

        &:hover,
        &:focus,
        &:active {
          outline: 0;
        }

        &::placeholder {
          color: var(--ui-1);
          opacity: 0.45;
        }
      }
    }
  }
}
