.dump {
  > .dump-list {
    margin: 0 5rem;
    max-width: 50rem;

    > .link {
      > a {
        color: var(--accent);
        opacity: 0.85;
        text-decoration: none;

        &:hover {
          //text-decoration: underline;
          opacity: 1;
        }
      }

      margin-bottom: 1rem;
    }
  }
}
