footer {
    > .page-centered {
        text-align: center;

        > a {
            display: inline-block;
            height: 1.75em;
            width: 1.75em;
            > svg {
                height: 1.75em;
                width: 1.75em;
            }
        }

        > p, > p > a {
            font-size: 0.90rem;
        }
    }
}
