footer {

    a {
        opacity: 75%;
        &:hover {
            opacity: 100%;

        }
    }
    > .page-centered {
        text-align: center;

        > a {
            display: inline-block;
            height: 1.75em;
            width: 1.75em;
            > svg {
                path { fill: var(--ui-1);} 
                height: 1em;
                width: 1em;
            }
        }

        > p, > p > a {
            font-size: 0.90rem;
        }
    }
}
