button {
    display: inline-block;
    text-decoration: none;

    // Prevents moving other elements
    border: 0.1em solid transparent;
    background: transparent;
    padding: 0;



    &:hover,
    &:focus,
    &:active {
        outline: 0;
        //background: var(--bg-hl);
    }

    > svg {
        vertical-align: middle;
    }
}

button, a {
    &.underlined-button, &.underlined-button--selected {
        border: 0 solid;
        text-decoration: none;
    }

    &.underlined-button {
        border-bottom: 2px solid transparent;

        &--selected, &:hover {
            border-bottom: 2px solid var(--ui-1);
        }
    }
}
