.post > article {
    @include shadow-weak();
    margin-bottom: 2rem;
    margin-top: 2rem;

    > .titles {
        text-align: center;
        margin-bottom: 5em;

        > .titles__title {
            font-weight: 600;
        }

        > .titles__subtitle {
            opacity: 0.75;
        }
    }

    > .highlight {
        @include shadow-weak();
        width: 90%;
        margin: 2em auto;
    }


    @media only screen and (max-width: $media-mid) {
        > .titles {
            margin-bottom: 3rem;
        }
    }

    @media only screen and (max-width: $media-small) {
        > .highlight  {
            width: 100%;
        }
    }
    
    // Nested quotes*
    blockquote {
        margin: 7px;
        margin-left: 2em;
        padding: 3px;
        border-left: 5px solid var(--ui-1);
        border-radius: 5px;

        > p {
            margin: 4px 0 4px 1em;
        }
    }

    > blockquote {
        @include shadow-weak();
        margin: 2em auto;
        width: 90%;
        background: var(--bg-hl);
    }

    > table {
        @include shadow-weak();
        
        display: block;
        max-width: 100%;
        overflow: auto;
        width: max-content;
        
        margin: 2em auto;
        table-layout: fixed;
        border-collapse: collapse;
   
        td, th {
            border: 1px solid var(--ui-1);
            padding: 10px;
        }
    }

    p > code {
        background: var(--bg-0);
        border-radius: 3px;
        padding: 2px 7px;
    }

    > ul {
        margin: 2em auto;
        width: 95%;
        li {
            //list-style: none;
            margin-left:1em;
            margin-bottom: 7px;
        }
    }

    > img, > p > img {
        @include shadow-weak();
        margin: 0 auto 2em auto;
        display: block;
        max-width: 100%;
        height: auto;
        // other styleasd
    }
}
