.project-card {
    position: relative;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--bg-1);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        min-width: 100%;

        background-image: url("https://images.photowall.com/products/58341/foggy-forest-4.jpg?h=699&q=85");
        background-size: auto 200%;
        background-position-x: center;
        background-position-y: center;

        filter: blur(2px);
        opacity: 80%;
        transform: scale(1.1);  // For sharper borders
        transition: all 0.2s ease, background-position 0ms;
    }

    > span {
        z-index: 1;

    }

    &:hover {
        &::before {	
            background-size: auto 205%;
            opacity: 1.0;
            filter: blur(0px);
        }
    }
}
