@import "fonts.scss";
@import "themes.scss";
@import "syntax.scss";


// * All of this have to be in rems else 
//    I should have to use calc to mix ems and rems
$nav-padding: 0.2rem;
$nav-height: 2.65rem+$nav-padding*2;

$article-margin: 1rem;

$footer-padding: 1rem;
$footer-height: 6.5rem+$footer-padding*2;

$centered-padding: 3rem;
$total-width: 50rem+$centered-padding*2+5rem; // 11 rem for article-centered

// * Fix weird text resizing issues by adding 2 extra rem
//      doesnt really make sense but you can see it works 
//      by checking the margin
$media-big: $total-width+3rem - 11rem; // Layout change
$media-mid: $media-big/2; // Font resize
$media-small: 400px; // Padding removed
$nav-toogle: 35rem;
$page-padding: 1rem; /* Padding for nav, footer and page-wrapper. 
                        Needed bc of the stupid nav hamburguer position absolute */

@mixin shadow-strong {
    box-shadow: 0 6px 10px var(--shadow-strong),
        0 0 6px var(--shadow-strong);

    &:hover {
        box-shadow: 0 6px 15px var(--shadow-strong),
            0 4px 8px var(--shadow-strong);
    }
}


@mixin shadow-weak {
    box-shadow: 0 6px 10px var(--shadow-weak),
        0 0 6px var(--shadow-weak);

    &:hover {
        box-shadow: 0 6px 15px var(--shadow-weak),
            0 4px 8px var(--shadow-weak);
    }
}

// ### Standardization rules ###
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
}

p,
a,
b,
span {
    //font-family: 'Inter', sans-serif;
    font-family: "Inter", sans-serif;
    font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
}

p {
    line-height: 1.6;
}

code,
code * {
    font-family: "monospace";
}

h1 {
    font-size: 2.2rem;
    color: var(--ui-0);
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

p,
a {
    font-size: 1rem;
}

h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    color: var(--ui-1);
}

img {
    max-width: 100%;
}

// Remove outline and substitude it with border
button:focus,
a:focus {}

html {
    font-size: 16px;

    @media only screen and (max-width: $media-mid) {
        font-size: 14px;
    }
}

html,
body {
    margin: 0;
}

body {
    background: var(--bg-0);
}

button svg {
    display: block;
}

// ### General properties ### 
.centered {
    text-align: center;
}

// ### Scrollbar ### 
::-webkit-scrollbar {
    background: var(--bg-1);
}

::-webkit-scrollbar-thumb {
    background: var(--ui-1);
}

// ### General Containers ### 
%container {
    box-sizing: border-box;
    // !!! Placeholder
}

.container--grid1col {
    @extend %container;
    display: grid;
    justify-content: center;
    gap: 2em;
    grid-template-columns: 1fr;
}

.container--grid2col {
    @extend %container;
    display: grid;
    justify-content: center;
    gap: 2em;
    grid-template-columns: 1fr;

    @media only screen and (min-width: $media-big) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.container--flexrow {
    @extend %container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.container--flexcol {
    @extend %container;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container--flexrow--center {
    @extend .container--flexrow;
    justify-content: center;
}

.container--flexrow--spaced {
    @extend .container--flexrow;
    justify-content: space-between;
    align-items: center;
}

.container--timeline-fr {
    @extend %container;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title date"
        "desc desc ";

    @media only screen and (min-width: $media-big) {
        grid-template-columns: 1fr 0.25em 1fr;
        grid-template-areas:
            "a1 a2 a3"
            "a4 a2 a6";
    }
}

.container--timeline-ev {
    @extend %container;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title date";

    @media only screen and (min-width: $media-big) {
        grid-template-columns: 1fr 0.25em 1fr;
        grid-template-areas:
            "a1 a2 a3";
    }
}

.container--timeline-end {
    @extend %container;

    @media only screen and (min-width: $media-big) {
        display: grid;
        grid-template-columns: 1fr 0.25em 1fr;
        grid-template-areas:
            "image image image"
            "a4 a2 a6";
    }
}

%container--grid2area {
    @extend %container;

    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 2em 0;

    grid-template-areas:
        "box1"
        "box2";

    @media only screen and (min-width: $media-big) {
        column-gap: 2em;
    }
}

.container--grid2area--lb {
    // Left Bigger
    @extend %container--grid2area;

    @media only screen and (min-width: $media-big) {
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas:
            "box2 box1";
    }
}

.container--grid2area--rb {
    // Right Bigger
    @extend %container--grid2area;

    @media only screen and (min-width: $media-big) {
        grid-template-columns: 1fr 1.5fr;
        grid-template-areas:
            "box1 box2";
    }
}

.container--post-list {
    @extend %container;

    display: grid;
    gap: 2em;

    /*
    max-width: 45em;
    margin: 2em auto;
    */

    @media only screen and (min-width: $media-big) {
        grid-template-columns: 0fr 1fr;
        grid-template-areas:
            "year list";
    }
}

// ### Menus ###
%menu {
    // !!! Placeholder
    box-sizing: border-box;

    svg {
        fill: var(--ui-1);
    }
}

.menu--navigation {
    @extend %menu;
    list-style-type: none;
    //font-size: 1rem;

    a,
    button {
        height: 2em;
        min-width: 2em;
        font-size: 0.85em;
        margin: 0 0.5em;
    }

    svg {
        width: 1em;
        height: 1em;
    }
}

// ### Buttons and Effects ###
%button {
    display: inline-block;
    text-align: center;

    text-decoration: none;

    // Prevents moving other elements
    border: 0.1em solid transparent;
    background: transparent;
}

.button--rounded {
    @extend %button;
    
    padding: 0.25em 0.25em;
    border-radius: 4px;

    &:hover,
    &:focus,
    &:active {
        outline: 0;
        background: var(--bg-hl);
    }
}

// ### Boxes ###
%box {
    // !!! Placeholder
    box-sizing: border-box;
}

.box--border {
    @extend %box;
    padding: 0.5em;
    border: 0.1em solid var(--ui-1);
}

// ### Text and Titles ###
%title {
    font-family: 'Rubik';
}

.title--normal {
    @extend %title;
    font-weight: 600;
}

.title--linespaced {
    @extend %title;
    font-weight: 300;
    line-height: 1.5em;
}

.title--letterspaced {
    @extend %title;
    letter-spacing: 0.3em;
}

.title--mono {
    @extend %title;
    font-family: "DejaVu Sans Mono";
    font-weight: 400;
    letter-spacing: 0.15em;
}

%text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text--normal {
    @extend %text;
}

.text--linespaced {
    @extend %text;
    font-family: 'Inter', sans-serif;
    line-height: 1.5em;
}

// ### Cards ###
.card {
    @include shadow-strong;

    text-decoration: none;
    font-size: 1rem;
    min-height: 10em;
    width: 100%;
    height: 100%;
    text-align: left;

    padding: 1em 2em 1.2em 2em;
    border-radius: 4px;
    background: var(--bg-1); // For all kind of cards

    /*
    // I dont think this is needed
    img {
        position: absolute;
        top: 20px;
        right: 15px;
        max-height: 120px;
    }
    */

    &:hover,
    &:focus,
    &:active {
        outline: none;
        border: none;
        transform: scale(1.02);
    }

    h2,
    h3,
    p {
        color: var(--ui-1);
    }
}

%cardbg {
    background-repeat: no-repeat;
    background-position: right;
    background-size: 5em;
    padding-right: 6em;
}

.cardbg--blank {
    @extend %cardbg;
    background-image: url('/assets/blank.svg');
}

.cardbg--terminal {
    @extend %cardbg;
    background-image: url('/assets/terminal.svg');
}

.cardbg--programming {
    @extend %cardbg;
    background-image: url('/assets/programming.svg');
}

.cardbg--linux {
    @extend %cardbg;
    background-image: url('/assets/linux.svg');
}

// ### Layout stuff ### 
.page-wrapper {
    // Drags the footer down
    // *article top margin doesnt count as article height
    min-height: calc(100vh - #{$footer-height} - #{$nav-height});

}

.page-wrapper,
.nav,
.footer {
    padding: 0 $page-padding;

    @media only screen and (max-width: $media-small) {
        padding: 0;
    }
}

// ### Sections ###
.article,
.centered-content {
    padding-top: $centered-padding;
    padding-bottom: $centered-padding;
    margin: auto;
}

.article {
    @include shadow-strong();
    background: var(--bg-1);
    border-radius: 5px;
    margin: $article-margin auto;
}

.article-spacer {
    width: 85%;
    margin: 2rem auto;
}

.section {
    box-sizing: border-box;
}

.section--page-title {
    @extend .section;
    text-align: center;

    .centered-content {
        padding-bottom: 1.5rem;
    }
}

.section-divider {
    height: 2px;
    margin: 3em auto;
    background: linear-gradient(90deg, var(--bg-1) 10%, var(--ui-1) 50%, var(--bg-1) 90%);
    background: var(--bg-0);
    width: 75%;
}


.section__title {
    color: var(--ui-0);
}

.section__subtitle {
    color: var(--ui-0);
}

.subsection__title {
    color: var(--ui-1);
}

.subsection__subtitle {
    color: var(--ui-1);
    margin: 1.125em auto;
    max-width: 70%;
}

// Shadow for the nav
.shadow-weak {
    @include shadow-weak();
}

.shadow-strong {
    @include shadow-weak();
}

.centered-content {
    padding-left: $centered-padding;
    padding-right: $centered-padding;
    max-width: $total-width;

    @media only screen and (max-width: $media-small) {
        padding-left: $centered-padding/2;
        padding-right: $centered-padding/2;
    }

}

// ### Nav Menu ### 
.nav {
    z-index: 10; // Max z index

    position: sticky;
    top: 0;
    min-height: $nav-height;
    transition: top 0.3s; // Transition on scroll
    background: var(--bg-0);

    .centered-content {
        padding-top: $nav-padding;
        padding-bottom: $nav-padding;

        // Center vertically nav menu
        display: flex;
        align-items: center;
        min-height: inherit;
    }

    /// !!! irrelevante si cambio el menu?
    .container--flexrow--spaced {
        width: 100%;
    }

    ul {
        margin: 0;
        padding: 0;
    }
    
    li {
        display: inline-block;
    }

    svg {
        fill: var(--ui-1);
    }

    .button--rounded {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        border: 0.1em solid transparent;

        &:hover,
        &:focus,
        &:active {
            outline: 0;
            border: 0.1em solid transparent;
        }

        svg {
            width: 2.2em;
            height: 2.2em;
        }
    }

    .nav-toogle {
        display: none;
    
        @media only screen and (max-width: $nav-toogle) {
            display: flex;
        }
    }

    .nav-show {
        @media only screen and (max-width: $nav-toogle) {
            display: none;
        }
    }



    .nav-hide {
        background: red;
        min-height: calc(100vh - #{$nav-height});

        width: inherit;
        opacity: 0;
        transition: opacity 0.2s linear;
        position: absolute;
        width: calc(100vw - #{$page-padding*2});
        
        display: none;

        // Toogle on / off on different screen sizes
        @media only screen and (max-width: $nav-toogle) {
            display: block;
        }

        @media only screen and (max-width: $media-small) {
            width: calc(100vw - #{$page-padding*2});
        }

        .container--flexcol {
            justify-content: center;
            align-items: center;
            min-height: inherit;
        }
    }
}

.accent {
    color: var(--accent);
}

// ### Hero ###
.hero {
    // Substract the height of the nav from the hero
    //min-height: calc(100vh - #{$nav-height});
    /*#{$footer-height}*/

    .hero-container {
        // Very unique one
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .hero__banner {
        // Font override
        //font-size: 1rem;
        text-align: center;

        h1 {
            // Font override 
            font-size: 2.2rem;
            color: var(--ui-0);
        }

        h2 {
            // Font override
            font-size: 1.8rem;
            color: var(--ui-1);
        }

    }

    .hero__arrow {
        // Not sure why em works weird (maybe svg itself)
        width: 3em;
        height: 3em;

        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;

        svg {
            fill: var(--ui-1);
        }
    }
}

// ### Who am I ###
.whoami {

    .section__title,
    .subsection__title,
    .subsection__subtitle {
        text-align: center;
    }

    .whoami__info {
        // !!! Not sure if this should be done here
        font-size: 1.125rem;

        .whoami__block {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-grow: 1;
            flex-shrink: 1;
            // flex-basis: 25px; // Doesnt seem necessary

            svg {
                // Prevents flex from expanding them
                min-width: 1.8em;
                min-height: 1.8em;
                width: 1.8em;
                height: 1.8em;
                margin: 1.1em 0;
                margin-right: 4%;
                fill: var(--ui-1);
            }
        }
    }

    .whoami__image {
        text-align: center;

        svg {
            // Width on 1c layout
            width: 70%;
            max-width: 25em;
            margin: 1em;

            @media only screen and (min-width: $media-big) {
                width: 100%;
                // ?? override normal max-width?
                max-width: 100%;
                margin: 0 0 1em 0;
            }
        }
    }

    // --- Grid areas ---
    .whoami__info {
        grid-area: box2;
    }

    .whoami__image {
        grid-area: box1;
    }
}

// ### My Work ### 
.my-work {

    .section__title,
    .subsection__title,
    .subsection__subtitle {
        text-align: center;
    }

    .my-work__posts {
        // Simulate section
        margin-top: $centered-padding;
    }

    .button--rounded {
        margin-top: 2em;
        display: inline-block;
    }
}

// ### Footer ###
.footer {
    min-height: $footer-height;

    // Override padding
    .centered-content {
        padding-top: $footer-padding;
        padding-bottom: $footer-padding;
    }

    .footer-container {
        text-align: center;
    }


    a {
        text-decoration: none;
        border: 0.1em solid transparent;

        &:hover,
        &:focus,
        &:active {
            border: 0.1em solid transparent;
        }
    }

    svg {
        width: 1.5em;
        height: 1.5em;
        margin: 0 0.1em;
    }

    .border {
        fill: var(--ui-1);
    }
}

// ### Timeline ###
.timeline {
    .timeline__bar {
        background: var(--ui-1);
    }

    .container--timeline-fr {
        .box--border {
            display: inline-block;
        }

        .timeline__date {
            text-align: right;
        }

        .timeline__date,
        .timeline__title,
        .timeline__description {
            margin: 1em;
        }

        .timeline__description {
            margin-bottom: 1.5em;
        }

        .timeline__date,
        .timeline__title {
            margin-top: 1.5em;
        }

        .timeline__date .box--border {
            background: var(--ui-1);
            color: var(--bg-1);
        }
    }


    .container--timeline-end {
        .timeline__image {
            display: none;

            svg {
                height: 5em;
            }

            // Show the image
            @media only screen and (min-width: $media-big) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-end;
            }
        }

        // Show a bar
        @media only screen and (min-width: $media-big) {
            .timeline__bar {
                min-height: 3em;
            }
        }
    }

    // Grid areas
    .timeline__bar {
        grid-area: a2;
    }

    .container--timeline-fr {
        .timeline__title {
            grid-area: title;
        }

        .timeline__description {
            grid-area: desc;
        }

        .timeline__date {
            grid-area: date;
        }
    }

    .container--timeline-ev {
        .timeline__title {
            grid-area: title;
        }

        .timeline__date {
            grid-area: date;
        }
    }

    .container--timeline-end {
        .timeline__image {
            grid-area: image;
        }
    }

    @media only screen and (min-width: $media-big) {

        // Align items to the bar
        .timeline-right .timeline__title,
        .timeline-right .timeline__description,
        .timeline-left .timeline__date {
            text-align: right;
        }

        .timeline-right .timeline__date {
            text-align: left;
        }

        .timeline-right {
            .timeline__title {
                grid-area: a1;
            }

            .timeline__description {
                grid-area: a4;
            }

            .timeline__date {
                grid-area: a3;
            }
        }

        .timeline-left {
            .timeline__title {
                grid-area: a3;
            }

            .timeline__description {
                grid-area: a6;
            }

            .timeline__date {
                grid-area: a1;
            }
        }
    }
}

// ### Post List
.post-list {

    .container--post-list {
        margin: 3em 0;
    }

    .post-list__year {
        margin: 0.5em;
    }

    .post-list__posts {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .post-item {
        border-bottom-style: dashed;
        border-width: 1px;
        color: var(--ui-1);
    }

    .post-item__link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin: 0.5em;
        padding: 0.5em;

        text-decoration: none;
    }
}

// ### Post ### 
.post {}

.stop-scrolling { 
    height: 100%; 
    overflow: hidden; 
} 