$media-big: 1024px;  // Desktops, large screens
$media-mid: 768px;   // Small screens, laptops
$media-small: 480px; // Mobile devices

@import "normalize";
@import "colors";
@import "layout";
@import "landingpage";
@import "pagelist";
@import "projectlist";
@import "contact-me";
@import "dump";

@import "post";
@import "typography";
@import "links_and_buttons";
@import "scrollbar";
@import "navigation";
@import "footer";
@import "code";


@import "__debug.scss";
