{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<main>
    <div class="page-centered">
  <h1>{{ .Title }}</h1>
  <section class="pagelist">
  {{ range .Pages }}
      <div class="pagelist__item">
        <a class="pagelist__item__date" href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }}</a>
        <a class="pagelist__item__title" href="{{ .Permalink }}">{{ .Title }}</a>
      </div>   
  {{ end }}
</section>
</div>
</main>
{{ end }}