{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<header class="section--page-title">
  <div class="centered-content">
    <h1 class="section__title title--normal">{{ .Title }}</h1>
    <p class="section__subtitle">{{ .Params.desc }}</p>
  </div>
</header>
<article id="article" class="article centered-content">
  <div class="article-spacer">
    <section id="post" class="post section">
      {{ .Content }}
    </section>
    <section>
      <button  >
       
        <svg height=16px viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58173 12.4183 0 8 0C3.58173 0 0 3.58173 0 8C0 12.4183 3.58173 16 8 16ZM1.68421 8C1.68421 4.51187 4.51187 1.68421 8 1.68421V14.3158C4.51187 14.3158 1.68421 11.4881 1.68421 8Z"></path>
        </svg>
    </button>
    </section>
  </div>
</article>
{{ end }}