{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "header" }}
{{ partial "header" (dict "context" . "pagename" "posts") }}
{{ end }}
{{ define "main" }}
<main>
  <article class="page-centered">

    <div class="titles">
      <div class="titles__title">
        <h2>{{ .Title }}</h2>
      </div>
      <div class="titles__subtitle">
        {{ if isset .Params "desc" }}
        <h5>{{ .Params.desc }}</h5>
        {{ end }}
      </div>
    </div>


    {{ .Content }}
  </article>
</main>
{{ end }}