<footer>

    <div class="page-centered">
        <a href="https://github.com/druskus20">{{ partial "svg/github.svg" . }}</a>
        <a href="https://twitter.com/druskus20">{{ partial "svg/twitter.svg" . }}</a>
        <a href="https://www.instagram.com/pedro_burgos">{{ partial "svg/instagram.svg" . }}</a>
        <a href="https://www.linkedin.com/in/pedro-burgos-gonzalo/">{{ partial "svg/linkedin.svg" . }}</a>
        <p>© 2021 <a href="https://github.com/druskus20">Pedro Burgos</a></p>
    </div>
</footer>
