<header>
    <div class="page-centered">
        <a id="header__logo" href="/">{{ partial "svg_druskus.html" . }}</a>
        <div class="flex-spacer"></div>
        <button id="nav-toogle"  onclick="navToogle()">Wrapper</button>
        <nav id="nav">
            <ul>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact-me">Contact Me</a></li>
            </ul>
        </nav>
        <button id="theme-switch" onclick="themeSwitch()">ThemeS</button>
        </div>

</header>