<header id="header">
    <div class="page-centered">
        <a id="header__logo" href="/">{{ partial "svg/druskus.svg" . }}</a>
        <div class="flex-spacer"></div>
        <ul id="nav">
                <li class="media-show"><button id="nav-toogle" class="underlined-button" onclick="navToogle()">Nav-toogle</button></li> 
                <li class="media-hide"><a href="/posts" class="underlined-button">Posts</a></li>
                <li class="media-hide"><a href="/projects" class="underlined-button">Projects</a></li>
                <li class="media-hide"><a href="/contact-me" class="underlined-button">Contact Me</a></li>
                <li><button id="theme-switch" class="underlined-button" onclick="themeSwitch()">ThemeS</button></li>
        </ul>
    </div>
    <ul id="nav-expanded">
            <li><a href="/posts" class="underlined-button">Posts</a></li>
            <li><a href="/projects" class="underlined-button">Projects</a></li>
            <li><a href="/contact-me" class="underlined-button">Contact Me</a></li>
    </ul>
</header>
