<nav id="nav" class="nav section">
    <div class="centered-content">
        <div class="container--flexrow--spaced">
            <a id="logo" class="logo" href="{{.Site.BaseURL}}">
                {{ partial "svg_druskus.html" . }}
            </a>
            <div class="menu--navigation container--flexrow">
                <button onclick="navToogle()" class="button--rounded nav-toogle">
                    <svg viewBox="0 0 24 24" class="Menu__MenuIconOutline-jd4rtl-0 bwLYPW">
                        <rect x="3" y="11" width="18" height="2" rx="0.95" ry="0.95"></rect>
                        <rect x="3" y="16" width="18" height="2" rx="0.95" ry="0.95"></rect>
                        <rect x="3" y="6" width="18" height="2" rx="0.95" ry="0.95"></rect>
                    </svg>
                </button>
                <ul id="nav-links" class="nav-show">

                    <li><a href="{{.Site.BaseURL}}/projects" class="button--rounded">Projects</a></li>
                    <li><a href="{{.Site.BaseURL}}/posts" class="button--rounded">Posts</a></li>
                    <li><a href="{{.Site.BaseURL}}/career" class="button--rounded">Career</a></li>
                    <li><a href="{{.Site.BaseURL}}/contact-me" class="button--rounded">Contact Me</a></li>
                </ul>
                <button onclick="themeSwitch()" class="button--rounded">
                    <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58173 12.4183 0 8 0C3.58173 0 0 3.58173 0 8C0 12.4183 3.58173 16 8 16ZM1.68421 8C1.68421 4.51187 4.51187 1.68421 8 1.68421V14.3158C4.51187 14.3158 1.68421 11.4881 1.68421 8Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div id="nav-links-extend" class="nav-links-extend nav-hide">
        <ul class="container--flexcol">
            <li><a href="{{.Site.BaseURL}}/projects" class="button--rounded">Projects</a></li>
            <li><a href="{{.Site.BaseURL}}/posts" class="button--rounded">Posts</a></li>
            <li><a href="{{.Site.BaseURL}}/career" class="button--rounded">Career</a></li>
            <li><a href="{{.Site.BaseURL}}/contact-me" class="button--rounded">Contact Me</a></li>
        </ul>
    </div>
</nav>

