{{ define "header" }}
    {{ partial "header" (dict "context" .) }}
{{ end }}

{{ define "main" }}
<section id="hero">
    <div class="page-centered">
        <h1>Druskus</h1>
        <h3>Pedro Burgos</h3>
    </div>
</section>
<main class="landingpage page-centered">
    <section class="whoami">
        <div id="whoami1">
            <div id="whoami1__info1" class="whoami__info">
                {{ partial "svg/person.svg" . }}
                <p>
                I'm <b>Pedro Burgos</b> (aka Drusk), a 23-year-old Computer Engineer from Madrid, Spain. 
                </p>
            </div>
            <div id="whoami1__info2" class="whoami__info">
                {{ partial "svg/studies.svg" . }}
                <p>
                I have completed a degree in <b>Computer Science</b> at the Universidad Autónoma de Madrid,
                and I've worked as a <b>DevOps Intern at GMV</b>. Furthermore, I've studied <b>English</b> and I am now beginning to learn <b>German</b>
                at the Official School of Languages in my city.
                </p>
            </div>
            {{ partial "svg/whoami1__image.svg" . }}

        </div>
        <div id="whoami2">
            <div id="whoami2__info1" class="whoami__info">
                {{ partial "svg/code.svg" . }}
                <p>
                I enjoy working on various projects mostly related to programming of some kind. Currently, 
                I am getting into <b>Rust</b> and Functional Programming in <b>Purescript</b>.
                </p>
            </div>
            <div id="whoami2__info2" class="whoami__info">
                {{ partial "svg/heart.svg" . }}
                <p>
                   I am planning on studying a <b>master's degree</b> in Computer Science abroad.
                   Apart from programming I also enjoy music, I'm hoping to begin playing <b>piano</b> 
                   once I've moved, and I like to go <b>cycling</b> now and then.
                </p>
            </div>
            {{ partial "svg/whoami2__image.svg" . }}
        </div>
    </section>
    <section class="interests">
        <div class="section-title">
            <h2>Interests</h2>
            <p class="subtitle">Other than programming...</p>
        </div>
        <div class="interest"> 
            <svg viewBox="0 0 30 31">
                <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z" /></svg>
            <p> 
            <b>Music: </b>Mostly Rock and Metal, also some Classical Music and OSTs.
            Some quick recommendations: 
                <a href="https://open.spotify.com/artist/4vGrte8FDu062Ntj0RsPiZ?si=_IsEqnfFQO69jbkmuB_utw&dl_branch=1"><i>Polyphia</i></a>, 
                <a href="https://open.spotify.com/track/4lenp1DH8yLAkCDzwgMphs?si=3033e74c8c434b48">April.#02</a>,
                <a href="https://open.spotify.com/album/7a78GiEowpaCa7ZJs44xUU?si=Kc3aqr3WQBySMaJY2Uog0Q&dl_branch=1"><i>Interestellar</i></a>, 
                <a href="https://open.spotify.com/track/7xPGvZaG9W7UOrCgEwbONe?si=0f5a2c790d50489e"><i>The Bard's Song</i></a>.
            </p>
        </div>
        <div class="interest"> 
            <svg viewBox="0 0 30 31">
                <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z" /></svg>
            <p> 
            <b>Books: </b>I've recently read <i>A Song of Ice and Fire</i> (no, I haven't watched GoT), and now I'm beginning
            <a href="https://www.brandonsanderson.com/the-mistborn-saga-the-original-trilogy"><i>Mistborn</i></a>.
            </p>
        </div>
        <div class="interest"> 
            <svg viewBox="0 0 30 31">
                <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z" /></svg>
            <p> 
            <b>Games: </b>Two of my favourite games of all time are 
            <a href="https://www.wesnoth.org"><i>Wesnoth</a></i> 
            and <i>Golden Sun</i>. Nowadays I mostly enjoy indie games like 
            <a href="https://store.steampowered.com/app/113200/The_Binding_of_Isaac"><i>The Binding of Isaac</i></a>.
            </p>
        </div>
        <div class="interest"> 
            <svg viewBox="0 0 30 31">
                <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z" /></svg>
            <p> 
            <b>Movies: </b>A couple of movies I really like are <i>Interestellar</i> and <i>Schindler's List</i>
            </p>
        </div>
        <div class="interest"> 
            <svg viewBox="0 0 30 31">
                <path class="rhombus" d="M5.9,1.2L0.7,6.5l5.2,5.4l5.2-5.4L5.9,1.2z" /></svg>
            <p> 
            <b>Shows: </b>I enjoyed both <a href="https://www.netflix.com/title/80100172"><i>Dark</i></a>
            and <a href="https://www.netflix.com/title/80234304"><i>The Queen's Gambit</i></a> a lot.
            </p>
        </div>
    </section>
</main>
{{ end }}
